
/*CONTACTO INPUTS*/

input#et_pb_contact_name_1.input{
    background-color: #f1f1f100;
    }
    
    input#et_pb_contact_email_1.input{
    background-color: #f1f1f100;	
    }
    
    textarea#et_pb_contact_message_1.et_pb_contact_message.input{
    background-color: #f1f1f100;		
    }