
/*-----SLIDER_BANNER---------*/

.et_pb_slide_description, .et_pb_slider_fullwidth_off .et_pb_slide_description {
    width: auto;
    margin: auto;   
    height: 100vh;
}
/*---------------------------*/